[flake8]
max-line-length = 120

# Проверять только синтаксические ошибки
select = E9,E722

# Игнорировать все остальные категории
ignore = E,W,F,C,N,B

# Исключить папки
exclude = .git,.venv,__pycache__,migrations,*.pyc
